.background {
  background: var(--blue);
}

.loginContainer {
  height: 100vh;
  margin: 0 auto;
  
  padding: 5vh;
}

.loginContainer section > img {
  position: relative;
  right: 4vw;
  width: 90vh;
}

.loginContainer section {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 8vw;
}

.loginContainer section > div {
  display: flex;
  flex-direction: column;
}

.loginContainer section > div > img {
  width:50vh;
  margin: 20vh 0 15vh;
}

.loginContainer strong {
  font-size: 5vh;
  font-weight: 600;

  color: var(--white);
}

.githubContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3vh 0;
  max-width: 20vw;
}

.githubContainer p {
  font-size: 2.5vh;
  line-height: 4vh;
  margin-left: 2vh;
  color: #B2B9FF;
} 

.githubContainer img {
  width: 10vh;
}