.loginContainer {
  height: 100vh;
  padding: 5vh;
  margin: 0 auto;
  background: var(--blue);
}

.gridContainer {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 8vw;
}

.gridContainer > img {
  position: relative;
  right: 4vw;
  width: 90vh;
}

.gridContainer > div {
  display: flex;
  flex-direction: column;
}

.gridContainer > div > img {
  width: 50vh;
  margin: 20vh 0 15vh;
}

.gridContainer strong {
  font-size: 5vh;
  font-weight: 600;

  color: var(--white);
}

.githubContainer {
  display: flex;
  align-items: center;

  margin: 3vh 0;
}

.githubContainer p {
  font-size: 2vh;
  line-height: 3vh;

  margin-left: 2.5vh;
  color: var(--text-highlight);
}

.githubContainer img {
  width: 4.5vh;
}

@media (max-width: 1225px) {
  .loginContainer {
    background-image: url('../../../public/icons/symbol.svg');
    background-repeat: no-repeat;
    background-position-y: 30%;
  }

  .gridContainer {
    display: flex;
    
    flex-direction: column;
  }

  .gridContainer > img {
    display: none;
  }  

  .gridContainer > div {
    position: absolute;
    top: 0;
  }
}
